#information-holder {
}

.information-list {
  > li {
    margin: 0 0 20px 0;
    padding: $space-medium;
    background: $color-information none repeat 0 0;
    border-radius: $border-round;

    @media screen and (max-width: $breakpoint-mdp) {
      margin-top: 20px;
    }

    h2, h3 {
      padding: 0;
    }

    h2 + .description, h3 + .description {
      margin-top: 5px;
    }
  }
}